.roles-container {
	// padding-left: 200px;
}

.affixed-top {
	z-index: 1001;
}

#role-header.affix {
	position: fixed;
	top: 60px;
	background: white;
	margin-left: -10px;
	padding-left: 10px;
	z-index: 1005;
	width: 100%;-webkit-box-shadow: 0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow:    0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow:         0px 1px 5px 0px rgba(50, 50, 50, 0.75);
	
	ul {
		// padding-top: 15px;
	}
}

.affix, .affix-top {
	position: static;
}
.current-role-header {
	position: absolute;
	top: 0;
	width: 100%;
	margin-left: -125px;
	// left: 50%;
	text-align: center;
}