<div class="user-admin-container">
	<div class="row">
		<div class="col-sm-12">
			<div class="">
				<h3 class="center-align">Roles Administration</h3>
				<div class="row info-header">
					<span class="col-sm-12">Create / Remove Roles</span>
				</div>
				<div class="row">
					<form novalidate class="">
						<div class="input-field col-sm-12">
							<input type="text" id="addRole" class="validate white-text" ng-model="newRole">
							<label for="addRole">Role Name</label>
						</div>
						<input type="button" ng-click="createRole(newRole)" value="Create" class="btn">
						<input type="button" ng-click="deleteRole(newRole)" value="Remove" class="btn">
					</form>
				</div>
				<div class="row info-header">
					<span class="col-sm-12">Current Roles</span>
				</div>
				<div class="row">
					<div class="col-sm-12">
					<ul class="role-list list-unstyled list-inline">
						<li ng-repeat="role in roles | orderBy : 'order'" class="pointer" ng-dblclick="editRole(role)"><span class="">
							<image hide-empty-images ng-src="/images/{{role.name}}.png" width="15px" alt="{{role.name}} badge image"></image>
							{{role.name}}</span>
						</li>
					</ul>
					</div>
				</div>
				<div class="row">
					<div class="center-align" ng-show="loading"><h3>loading <i class="fa fa-spinner fa-pulse"></i></h3></div>
				</div>
				
				
				<div class="row">
					<div class="col-sm-12">
						
						<ul class=" rule-sets list-unstyled">
							<li class="" ng-repeat="rule in rules">
								<div class="card-panel">
									
									<h3 class="center-align">{{rule.name | camelCase}}</h3>
									<rules-dir rules="rules" roles="roles" rule="rule"></rules-dir>
									
								</div>
							</li>
						</ul>
						
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>