<div class="user-admin-container">
	<div class="row">
		<div class="col l12 s12">
			<div class="">
				<h6 class="newsBlock white-text chatTitle">Roles Administration</h6>
				<div class="row info-header">
					<span class="col s12">Create / Remove Roles</span>
				</div>
				<div class="row">
					<form novalidate class="s12">
						<div class="input-field col s12">
							<input type="text" id="addRole" class="validate white-text" ng-model="newRole">
							<label for="addRole">Role Name</label>
						</div>
						<input type="button" ng-click="createRole(newRole)" value="Create" class="btn">
						<input type="button" ng-click="deleteRole(newRole)" value="Remove" class="btn">
					</form>
				</div>
				<div class="row info-header">
					<span class="col s12">Current Roles</span>
				</div>
				<div class="row">
					<div class="col s12">
					<ul class="role-list">
						<li ng-repeat="role in roles" class="pointer" ng-dblclick="editRole(role)"><span class="available-roles">{{role.name}}</span></li>
					</ul>
					</div>
				</div>
				<div class="row">
					<h6 class="col s12 white-text center-align">Role Rules</h6>
					<div class="center-align" ng-show="loading">loading <i class="fa fa-spinner fa-spin"></i></div>
				</div>
				
				
				<div class="row">
					<div class="col s12">
						
						<ul class=" rule-sets">
							<li class="" ng-repeat="rule in rules">
								<div class="card-panel">
									
									<h5 class="center-align">{{rule.name | camelCase}}</h5>
									<rules-dir rules="rules" roles="roles" rule="rule"></rules-dir>
									
								</div>
							</li>
						</ul>
						
					</div>
				</div>
				
				
			</div>
		</div>
	</div>
</div>