zzz.ts-compiler.js
zzz.ts-compiler.js.map
.meteor/local/*
.meteor/local/build/programs/web.browser/program.json
.meteor/local/shell/info.json
.meteor/local/build/programs/server/program.json
.meteor/local/build/programs/server/program.json
.meteor/local/build/programs/server/program.json
.meteor/local/build/programs/web.browser/program.json
.meteor/local/shell/info.json