<div class="user-admin-container">
	<div class="row">
		<div class=" col-sm-12">
			<div class="">
				<h3 class="center-align">Website Settings</h3>
				<hr>
				<div class="row"></div>
				<!--<div class="divider"></div>-->
				
				<div class="section well" ng-repeat-start="setting in settings">
					<div class="row info-header">
						<span class="col-sm-12">News Settings</span>
					</div>
					<table class="table">
						<tr class="">
							<td>
								<div class="privateCheckbox">
									<input class="" type="checkbox" name="privateCheck" id="privateCheck_{{setting._id}}" ng-model="setting.news.private">
									<label class="checkbox-label" for="privateCheck_{{setting._id}}">private</label>
								</div>
							</td>
							<td>
								<p class="">
									Setting the news item to private will only allow users of the 'member' group or higher
									to view it. Leave unchecked to allow all visitors to view. (each post editable)
								</p>
							</td>
						</tr>
						<tr class="">
							<td>
								<div class="privateCheckbox">
									<input type="checkbox" name="hiddenCheck" id="hiddenCheck_{{setting._id}}" ng-model="setting.news.visible">
									<label class="checkbox-label" for="hiddenCheck_{{setting._id}}">visible</label>
								</div>
							</td>
							<td>
								<p>
									Setting the news item to visible will allow it to be seen. Leaving unchecked will prevent anyone
									besides the admin from viewing. (each post editable)
								</p>
							</td>
						</tr>
					</table>
					
					<p class="center-align">
						<small class="hidden-sm">(these settings will be default when the post is created and can be set differently per post after creation. It is suggested to keep posts private and not visible so you don't accidentally make a private post public.)</small>
					</p>
				</div> <!-- section -->
				
				<div class="section well">
					<div class="row info-header">
						<span class="col-sm-12">User Admin Settings</span>
					</div>
					<table class="table">
						<tr class="">
							<td>
								<div class="privateCheckbox">
									<input class="" type="checkbox" name="privateCheck" id="roleChangeConfirm" ng-model="setting.users.roleConfirm">
									<label class="checkbox-label" for="roleChangeConfirm">role change confirm</label>
								</div>
							</td>
							<td>
								<p>
									Checking this will require you to confirm changes made to users roles. (admin will always require confirmation)
								</p>
							</td>
						</tr>
					</table>
				</div>
				
				<div class="section well" ng-repeat-end>
					<div class="row info-header">
						<span class="col-sm-12">Forum Settings</span>
					</div>
					<table class="table">
					</table>
				</div>
			</div>
		</div>
	</div>
</div>