<h6 class="newsBlock white-text chatTitle">CK News</h6>
<ul id="newsStream" class="noList">
		
<!--	create new news-->
	<div class="createPost">
		<button ng-click="openCreate()" ng-show="userIsAdmin()" class="waves-effect btn grey add-news-button"><span>Create New</span></button>
	</div>
<!--	<div class="inputForm" ng-show="createPost">
		<form novalidate>
			<input type="text" class="editTitle" placeholder="Title" ng-model="news.title">
				<input type="checkbox" name="privateCheck1" id="privateCheck1" ng-model="news.private">
				<label for="privateCheck" style="color: white;">private</label>
			<textarea class="editBody" name="postNews" id="postNews" placeholder="body ..." ng-model="news.body"></textarea>
			<input type="submit" class="newsSubmit" ng-click="save(news)">
		</form>
	</div>-->
		
	<li ng-repeat="post in posts | orderBy : 'date' : 'reversed'">
		<div class="newsPost">
			<div class="newsHeader">{{::post.title}}
				<small class="newsDate">{{::post.date | date:'MM/dd/yyyy @ h:mm a'}}</small>
				<small class="postCreator">By: {{::post.username}}</small>
					
<!--					private checkbox-->
					<div class="pull-right privateCheckbox" ng-show="userIsAdmin()">
						<input class="" type="checkbox" name="privateCheck" id="privateCheck_{{post._id}}" ng-change="privateChange(post)" ng-click="privateClicked(post)" ng-model="post.private">
						<label class="" for="privateCheck_{{post._id}}" ng-model="post.private">private</label>
					</div>
					
<!--					hide/show news post-->
					<div class="pull-right deletePost" ng-show="userIsAdmin()">
						<div class="switch">
							<label>
								Hidden
								<input type="checkbox" ng-model="post.visible">
								<span class="lever"></span>
								Visible
							</label>
						</div>
<!--						<button name="deletePost" id="deletePost_{{post._id}}" ng-click="deletePost(post)">
							<span ng-show="post.visible">Hide</span><span ng-show="!post.visible">Show</span></button>
						<label for="deletePost_{{post._id}}" ng-show="!post.visible" style="color: red;">HIDDEN</label>-->
					</div>
			</div>
			<div class="newsBody" markdown="post.body | bbcode"></div>
		</div>
	</li>
</ul>

<synergy-composer ng-show="pageReady" id="synergyComposer" synergy-controller="synergyComposer" synergy-submit="save" topics="topics" exit-composer="closeInput()"></synergy-composer>
