.inner-container {
	width: 100%;
	// font-size: 1rem;
	color: white;
	// padding: 5px;
	// border-bottom: 1px solid silver;

	ul li {
		border-radius: 5px;
	}

	.chat-ul-outer {
		list-style-type: none;
		padding-left: 0;

		.chat-li {
			// margin-bottom: 5px;
			min-height: 60px;
			background: rgba($color: white, $alpha: .03);

			.comment-head, .comment-text {
				// color: white;
			}


		}

		.chat-li-child {
		}
	}

	.chat-ul-inner {
		list-style-type: none;
		padding-left: 75px;
		.chat-li {
			// margin-bottom: 5px;
		}
		.comment {

			.user-info {
				// border: 1px solid silver;
				width: 60px;
				height: 60px;
				border-radius: 50px;
				border:none;
				text-align: center;
				.user-image {
					width: 50px;
					// border-radius: 50px;
					// border: 1px solid silver;
				}
			}
		}
	}

	.chat-li {
		padding: 3px;
	}

}

.comment-head {
	background-color: rgba(0,0,0,0.1);
	border-radius: 5px;
	box-shadow: inset 0 50px rgba(255,255,255,0.1),
				inset 0 -15px 30px rgba(0,0,0,0.4);
				// 	  0 5px 10px rgba(0,0,0,0.5);

	// height: 45px;
	line-height: 45px;
	padding-left: 10px;
	color: rgb(207, 207, 207);
	position: relative;
}
.comment-image {
	width: 50px;
	margin-right: 10px;
}
.comment-author {
	color: rgb(207, 207, 207);
	font-size: 1.1em;
}
.comment-date {
	color: rgb(207, 207, 207);
}
.comment-text {
	color: rgb(207, 207, 207);
	padding-left: 1px;
	font-size: 1em;
}
.reply-to {
	position: absolute;
	right: 15px;
}
.comment {
	padding: 10px;
	.user-info {
		text-align: center;
		width: 150px;
		height: 200px;
		// background: rgba(0,0,0,0);
		.user-image {
			width: 80px;
		}
	}

	.comment-re {
		color: rgb(122, 122, 122);
		padding-left: 20px;
	}


	table {
		tr {
			td:first-child {
				padding-right: 20px;
			}
			td {
				vertical-align: top;
			}
		}
		// margin-bottom: 10px;
	}
}

#outer-comments {
}

.comments-container {
	background: white;
	padding: 5px;
}
