<div class="">
	<ul class="row list-unstyled">
		<li class="rule-header" ng-repeat="(key, value) in rule" ng-hide="key == '_id' || key == 'name'">
			
			
			<table class="table">
				<thead>
					<tr>
						<th class="col-sm-8">
							{{::key | camelCase}}: <span class="smaller">Users with these roles will be able to do {{key}} in {{rule.name}}</span>
						</th>
						<th class="col-sm-4">
							<select 
								class="browser-default col s10" 
								ng-model="newRole.all" 
								ng-options="role.name for role in roles"
								ng-change="">
								<option value="" disabled selected>choose a role to add</option>
							</select>
							<button class="btn col-sm-2" ng-click="addRole(key, rule.name, newRole.all)">Add</button>
						</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td>
							<ul class="list-unstyled list-inline">
								<li class="col-sm-12 collection-item blue-grey lighten-4" ng-repeat="r in rule[key] track by $index">
									<image hide-empty-images ng-src="/images/{{r}}.png" width="15px" alt="{{r}} badge image"></image> {{r}} 
									<i ng-if="r !== 'admin'" class="secondary-content fa fa-remove pointer" ng-click="removeRole(key, rule.name, r, $index)"></i>
								</li>
							</ul>
						</td>
						<td>
						</td>
					</tr>
				</tbody>
			</table>
			
<!--			
			<div class="collection with-header">
				<div class="collection-header col-sm-12 grey lighten-2">
					<div class="row">
						<span class="col-sm-6">{{key | camelCase}}: <span class="smaller orange-text text-accent-4">Users with these roles will be able to do {{key}} in {{rule.name}}</span></span>
						<div class="col-sm-6">
							<div class="row">
								<select 
									class="browser-default col s10" 
									ng-model="newRole.all" 
									ng-options="role.name for role in roles"
									ng-change="">
									<option value="" disabled selected>choose a role to add</option>
								</select>
								<button class="btn col-sm-2" ng-click="addRole(key, rule.name, newRole.all)">Add</button>
							</div>
						</div>
					</div>
				</div>
				
				<ul class="list-unstyled">
					<li class="col-sm-12 collection-item blue-grey lighten-4" ng-repeat="r in rule[key] track by $index">
						<image hide-empty-images ng-src="/images/{{r}}.png" width="15px" alt="{{r}} badge image"></image> {{r}} 
						<i ng-if="r !== 'admin'" class="secondary-content fa fa-remove pointer" ng-click="removeRole(key, rule.name, r, $index)"></i>
					</li>
				</ul>
			</div>-->
			
		</li> 
		
		
	</ul>
</div>