.user-info {
	// color: white;
	padding-top: 10px;
}
.email-list {
	// border-bottom: 1px solid silver;
}

.info-header {
	background: rgba($color: white, $alpha: 0.2);
	font-weight: bold;
}

.user-bio {
	margin-top: 10px;
	background: rgba($color: white, $alpha: 0.1);
}

.user-role {
	background: greenyellow;
	color: black;
	padding: 3px;
	margin-left: 5px;
}
.user-roles-container {
	margin-bottom: 10px;
}.available-roles {
	background: dodgerblue;
	color: black;
	padding: 3px;
	margin-left: 5px;
}

.role-list {
	margin-top: 5px;
	margin-bottom: 5px;
	padding-left: 15px;
}

.verified {
	color: green;
}
.not-verified {
	color: red;
}
.borderless {
	background: blue;
	tbody tr td, tbody tr th, thead tr th {
		border: none;
	}
}
.roles-list {
	ul {
	    column-count:1;
	    -webkit-column-count:1;
	    -moz-column-count:1;		
	}
}