<h3 class="center-align">User Administration</h3>
<hr>
<!--	create new news-->
<div class="createPost row">
	<!--<button ng-click="createUser()" disabled ng-show="userIsAdmin()" class="waves-effect btn grey add-news-button col-sm-12"><span>Create New User</span></button>-->
</div>

<div class="input-group">
	<div class="input-group-addon"><i class="fa fa-search"></i></div>
	<input type="text" class="form-control" id="userSearch" placeholder="search">
</div>


<ul class="role-list list-unstyled list-inline" aria-labelledby="dLabel1">
	<li ng-repeat="role in roles | orderBy : 'order'"> <image hide-empty-images ng-src="/images/{{role.name}}.png" width="15px" alt="{{role.name}} badge image"></image> {{::role.name}}</li>
</ul>


<ul id="newsStream" class="list-unstyled">
	<li>
		<table class="table table-hover table-bordered table-condensed">
			<thead>
				<tr>
					<th>Username</th>
					<th>Created</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Emails</th>
					<th>verified</th>
					<th style="position: relative;">Roles</th>
					<th>Bio</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="user in users | orderBy : 'username' ">
					<td>
						<image tooltip="{{user.roles[0]}}" hide-empty-images ng-src="/images/{{user.roles[0]}}.png" width="15px" alt="{{user.roles[0]}} badge image"></image>  {{::user.username}}
					</td>
					<td>
						{{::user.createdAt | date: 'MM/dd/yyyy @ h:mm a'}}
					</td>
					<td>
						{{::user.profile.firstName}}
					</td>
					<td>
						{{::user.profile.lastName}}
					</td>
					<td ng-repeat-start="email in user.emails">
						<ul class="list-unstyled">
							<li>
								{{::$index + 1}}. {{::email.address}}
							</li>
						</ul>
					</td>
					<td ng-repeat-end class="" ng-class="email.verified ? 'verified' : 'not-verified'">
						<i ng-class="email.verified ? 'fa fa-check' : 'fa fa-close'"></i>
					</td>
					<td class="roles-list">
						<ul class="list-unstyled">
							<li ng-repeat="role in user.roles">
							<image hide-empty-images ng-src="/images/{{role}}.png" width="15px" alt="{{role}} badge image"></image>
							</li>
						</ul>
						
					</td>
					<td>
						<p>{{::user.profile.bio | truncate:25}}</p>
					</td>
				</tr>
			</tbody>
		</table>
	</li>		
</ul>