
<div class="composer_container">
    <div class="composer white">

        <!-- top of the composer, able to drag up and down and double click -->
        <div id="dragbar" resizeable max="" min="">
            <i class="fa fa-bars drag-center"></i>
            <!-- <span class="drag-click-right">
                <i class="fa fa-chevron-up"></i>
            </span> -->
        </div>




        <!-- Top bar: Subject box and topic select box -->
        <div class="composer_info">
            <div class="input-field">
                <input type="text" id="composer_subject" ng-model="synergyController.newPost.subject">
                <label for="composer_subject">Subject</label>
            </div>
<!--            <input id="composer_subject" type="text" ng-model="synergyController.newPost.subject" placeholder="subject: ">-->
            <div id="title">
                
                <div ng-if="synergyController.topics.length > 0">
                    Creating in:
                    
                    <!-- <input type="text" ng-model="synergyController.topic"> -->
                    <select style="width: 80%;float:right"
                        class="browser-default"
                        ng-model="synergyController.newPost.topic"
                        ng-options="topic.name for topic in synergyController.topics"
                        id="topicSelect">
                    </select>
                    
                </div>


              <i ng-click="synergyController.close()" class="mdi-navigation-arrow-drop-down pull-right pointer"></i></div>
            <div class="syn-xs-visible" id="phone-view-toggle"><span class="pointer" ng-click="synergyPhonePreviewToggle()"><i class="mdi-action-search tiny"></i> toggle preview </span></div>
        </div>




        <!-- Container for the markdown you are writing and previewing -->
        <div id="markdown_container" class="">
            <!-- Input text area for post creation -->
            <div class="card" ng-hide="synergyController.previewToggle" id="textarea_container">
                <div id="text-toolbar" class="well well-sm">
                    <i id="toolbar-bold" class="pointer fa fa-bold"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-italic" class="pointer fa fa-italic"></i>
                    &nbsp; &nbsp;
                    <span class="pointer" id="toolbar-code"><i id="toolbar-code" class="fa fa-code"></i><i id="toolbar-code" class="mdi-hardware-keyboard-arrow-right"></i></span>
                    &nbsp; &nbsp;
                    <i id="toolbar-link" class="pointer fa fa-external-link"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-quote" class="pointer fa fa-quote-left"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ul" class="pointer fa fa-list-ul"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ol" class="pointer fa fa-list-ol"></i>
                </div>
                <textarea class="well" name="" id="synergy-composer" ng-model="synergyController.newPost.markdown"></textarea>
            </div>


            <!-- Preview container for the markdown -->
            <div class="card" ng-hide="synergyController.previewToggle" id="preview_container">
                <div markdown="synergyController.newPost.markdown | bbcode"  id="markdown-preview" class=""></div>
            </div>
        </div>




        <!-- Footer containing buttons -->
        <div id="composer_footer" class="center-align">
            <div class="btn post-button btn-sm waves-effect red"  ng-click="exitComposer()"><i class="mdi-content-clear right"></i>&nbsp;Cancel</div>
            <div class="btn post-button btn-sm waves-effect" ng-click="submit()"><i class="mdi-content-add right"></i>&nbsp;{{synergyController.submitName}}</div>
        </div>




    </div>
</div>
