
<div class="composer_container">


    <div class="composer white">

        <div class="composer-tab">
            <a ng-click="composer.close()" class="btn btn-link font-black composer-minimize-a">minimize</a>
        </div>

        <!-- top of the composer, able to drag up and down and double click -->
        <div id="dragbar" resizeable max="" min="">
            <i class="fa fa-bars drag-center"></i>
            <!-- <span class="drag-click-right">
                <i class="fa fa-chevron-up"></i>
            </span> -->
        </div>




        <!-- Top bar: Subject box and topic select box -->
        <div class="composer_info">

            <div class="input-field" ng-if=" composer.post.reply_id === '' ">
                <input type="text" id="composer_subject" ng-model="composer.post.subject">
                <label for="composer_subject">Subject</label>
            </div>
<!--            <input id="composer_subject" type="text" ng-model="synergyController.newPost.subject" placeholder="subject: ">-->
            <!-- <div id="title pull-right"> -->
                <!-- <i ng-click="composer.close()" class="fa fa-arrow-down pointer pull"></i> -->

                <!-- <div ng-if="composer.topics.length > 0"> -->
                    <!-- Creating in: -->

                    <!-- <input type="text" ng-model="synergyController.topic"> -->
                    <!-- <select style="width: 80%;float:right" -->
                        <!-- class="browser-default" -->
                        <!-- ng-model="composer.topic" -->
                        <!-- ng-options="topic.name for topic in composer.topics" -->
                        <!-- id="topicSelect"> -->
                    <!-- </select> -->

                <!-- </div> -->


            <!-- </div> -->


            <div class="syn-xs-visible" id="phone-view-toggle"><span class="pointer" ng-click="composer.previewToggle()"><i class="fa fa-search"></i> toggle preview </span></div>
        </div>




        <!-- Container for the markdown you are writing and previewing -->
        <div id="markdown_container" class="">
            <!-- Input text area for post creation -->
            <div class="card" ng-hide="composer.previewToggle" id="textarea_container">
                <div id="text-toolbar" class="well well-sm">
                    <i id="toolbar-bold" class="pointer fa fa-bold"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-italic" class="pointer fa fa-italic"></i>
                    &nbsp; &nbsp;
                    <span class="pointer" id="toolbar-code"><i id="toolbar-code" class="fa fa-code"></i></span>
                    &nbsp; &nbsp;
                    <i id="toolbar-link" class="pointer fa fa-external-link"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-quote" class="pointer fa fa-quote-left"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ul" class="pointer fa fa-list-ul"></i>
                    &nbsp; &nbsp;
                    <i id="toolbar-ol" class="pointer fa fa-list-ol"></i>
                </div>
                <textarea class="" name="" id="synergy-composer" ng-model="composer.post.markdown"></textarea>
            </div>


            <!-- Preview container for the markdown -->
            <div class="card preview-container" ng-hide="composer.previewToggle" id="preview_container">
                <!-- <div id="markdown-preview">
                    <meteor-include src="mdTemplate"></meteor-include>
                </div> -->
                <meteor-md markdown="composer.post.markdown"></meteor-md>
                <!-- <div markdown="composer.post.markdown | bbcode"  id="markdown-preview" class=""></div> -->
            </div>
        </div>




        <!-- Footer containing buttons -->
        <div id="composer_footer" class="center-align">
            <div class="btn post-button btn-sm waves-effect red white-text"  ng-click="composer.close().reset()">Cancel</div>
            <div class="btn post-button btn-sm waves-effect" ng-click="sendSave()">Submit</div>
        </div>




    </div>
</div>
